<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="partials/head :: head('All Posts')">
    <meta charset="UTF-8">
</head>
<body>
<nav th:replace="partials/navbar :: nav"></nav>
<header th:replace="partials/header :: header('The Crafty Retired Nurse')"></header>
<div class="container">

    <h1>Here are all my products</h1>
    <form>
        <div class="row rowViewAll">
            <div th:each="product : ${products}">

                <div class="col s7 m3">
                    <div class="card">

                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" th:src="${product.img}" style="height: 10rem">
                        </div>

                        <div class="card-content">
                            <span th:text="${product.name}" class="card-title activator grey-text text-darken-4">Title<i
                                    class="material-icons right">more info</i></span>
                            <p><a th:href="'/product/' + ${product.id}">Link</a></p>
                        </div>

                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Title<i
                                    class="material-icons right">close</i></span>
                            <p th:text="${product.description}"></p>
                        </div>
                        <button type="submit" class="btn btn-primary">Add Item</button>
                        <button id="clearCart" class="btn btn-danger">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<footer th:replace="partials/partials :: footer"></footer>
<th:block th:include="partials/scripts :: scripts"></th:block>
</body>
</html>