<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="partials/head :: head('All Posts')">
    <meta charset="UTF-8">
</head>
<body>
<nav th:replace="partials/navbar :: nav"></nav>
<header th:replace="partials/header :: header('The Crafty Retired Nurse')"></header>
<div class="container">

    <h1>Here are all my products</h1>
    <form class="add-form">
        <div class="row rowViewAll">
            <div th:each="product : ${products}">
                <div class="col">
                    <div class="card">

                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" th:src="${product.img}" style="height: 10rem">
                        </div>

                        <div class="card-content">
                            <p><a th:href="'/product/' + ${product.id}">edit</a></p>
                        </div>

                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Description</span>
                            <p th:text="${product.description}"></p>
                            <input class="name" type="hidden" th:value="${product.id}" th:text="${product.id}"/>
                        </div>
                        <input class="price" type="hidden" th:value="${product.price}" th:text="${product.price}">
                        <button type="submit" class="btn btn-primary add">Add Item</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<footer th:replace="partials/partials :: footer"></footer>
<th:block th:include="partials/scripts :: scripts"></th:block>
</body>
</html>