<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Create Post')">
    <meta charset="UTF-8">
</head>
<body>
<nav th:replace="partials/navbar :: nav"></nav>
<header th:replace="partials/header :: header('Welcome to the Codeup Blog/Adlister!')"></header>

<main class="container">

    <form th:action="@{/posts/create}" th:method="post" th:object="${post}"  enctype="multipart/form-data">
        Title:
        <input th:field="*{title}"/>
        <br />
        Blog:
        <label>
            <textarea th:field="*{body}"></textarea>
        </label>
        <br />
<!--    </form>-->
<!--    <form action="/fileupload" method="POST" enctype="multipart/form-data">-->
        <label for="file">Upload a file!</label>
        <input id="file" name="file" type="file" />
<!--        <label>Upload a file!</label>-->
<!--        <input  th:field="*{postImages}" type="file" />-->
<!--        <br />-->
        <input type="submit" />
    </form>

</main>

<footer th:replace="partials/partials :: footer"></footer>
<th:block th:include="partials/scripts :: scripts"></th:block>
</body>
</html>