<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Edit Post')">
    <meta charset="UTF-8">
    <title>Edit Post</title>

</head>
<body>
<nav th:replace="partials/navbar :: nav"></nav>
<header th:replace="partials/header :: header('Welcome to the Codeup Blog/Adlister!')"></header>
<h1>Edit Post</h1>
<form th:action="@{@{'/ads/' + ${ad.id} + '/edit'}}" th:method="POST">
    <label for="title">Title</label>
    <input id="title" type="text" name="title" th:value="${ad.title}" placeholder="Enter title">
    <label for="description">Body</label>
    <textarea id="description" name="description" th:text="${ad.description}" placeholder="Enter body"></textarea>
    <button>Update Post</button>
</form>
</body>
<footer th:replace="partials/partials :: footer"></footer>
<th:block th:include="partials/scripts :: scripts"></th:block>

</html>