<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:fragment="nav">
    <ul class="nav bg-dark">
        <li class="nav-item">
            <a class="nav-link text-light" th:href="@{/}">Codeup Blog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" th:href="@{/posts}">Posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" th:href="@{/posts/create}">Create Posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" th:href="@{/ads}">Ads</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" th:href="@{/ads/create}">Create Ads</a>
        </li>
        <li class="nav-item ml-auto">
            <a class="nav-link text-light" th:href="@{/sign-up}">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" th:href="@{/login}" data-bs-target="#exampleModal">Login</a>
        </li>
<!--        <li>-->
<!--            <button class="nav-link text-light bg-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">Login</button>-->
<!--        </li>-->
<!--        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">-->
<!--            Launch demo modal-->
<!--        </button>-->
        <li class="nav-item">
            <form th:action="@{/logout}" th:method="post">
                <button  type="button" class="nav-link text-light bg-dark">Logout</button>
            </form>
        </li>
    </ul>
</nav>
<!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">        <div class="modal-dialog">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header">-->
<!--                    <h1>Log In</h1>-->
<!--                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--                    <div class="modal-body">-->
<!--                        <div th:if="${param.error}">-->
<!--                        Invalid Username and Password.-->
<!--                    </div>-->
<!--                    <div th:if="${param.logout}">-->
<!--                        You have been logged out.-->
<!--                    </div>-->
<!--                    <form th:action="@{/login}" method="post">-->
<!--                        <label for="username">Username</label>-->
<!--                        <input id="username" name="username" type="text"/>-->
<!--                        <label for="password">Password</label>-->
<!--                        <input id="password" name="password" type="password"/>-->
<!--                    </form>-->
<!--                    </div>-->
<!--                    <div class="modal-footer">-->
<!--                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                        <input type="submit" value="Log In"/>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div th:if="${param.logout}">-->
<!--                You have been logged out.-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

</body>
</html>