<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="partials/head :: head('All Posts')">
    <meta charset="UTF-8">
</head>
<body>
<nav th:replace="partials/navbar :: nav"></nav>
<header th:replace="partials/header :: header('The Crafty Retired Nurse')"></header>
<main>
    <article class="card">
        <section class="text-section"><a href="#">
            <img th:src="@{/styles/craft-nurse/kids-masks.jpg}">
            <h3><a href="#">Masks for Kids</a></h3></a>
        </section>
    </article>
    <article class="card">
        <section class="text-section">
<!--            <img th:src="@{/styles/craft-nurse/sports-masks.jpg}">-->
            <h3><a href="/fileupload">Team Masks</a></h3>
        </section>
    </article>
    <div class="card">
        <div class="card-body">
        <section class="text-section">
<!--            <img th:src="@{/styles/craft-nurse/back-to-school.jpg}">-->
            <h3><a href="#">Back to School</a></h3>
        </section>
        </div>
    </div>
    <article class="card">
        <section class="text-section">
            <img th:src="@{/styles/craft-nurse/logo-andrea.jpg}">
            <h3><a href="#">Just for Fun</a></h3>
        </section>
    </article>
</main>

<footer th:replace="partials/partials :: footer"></footer>
<th:block th:include="partials/scripts :: scripts"></th:block>
</body>
</html>