<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="partials/head :: head('All Posts')">
    <meta charset="UTF-8">
</head>
<body>
<nav th:replace="partials/navbar :: nav"></nav>
<header th:replace="partials/header :: header('The Crafty Retired Nurse')"></header>
<main>
    <article class="card">
        <section class="text-section"><a href="#">
            <img src="/static/styles/craft-nurse/kids-masks.jpg" height="89%">
            <h3><a href="#">Masks for Kids</a></h3></a>
        </section>
    </article>
    <article class="card">
        <section class="text-section">
            <img src="/static/styles/craft-nurse/sports-masks.jpg" height="89%">
            <h3><a href="#">Team Masks</a></h3>
        </section>
    </article>
    <article class="card">
        <section class="text-section">
            <img src="/static/styles/craft-nurse/back-to-school.jpg" height="89%">
            <h3><a href="#">Back to School</a></h3>
        </section>
    </article>
    <article class="card">
        <section class="text-section">
            <img src="/static/styles/craft-nurse/logo-andrea.jpg" height="89%">
            <h3><a href="#">Just for Fun</a></h3>
        </section>
    </article>
</main>

<footer th:replace="partials/partials :: footer"></footer>
<th:block th:include="partials/scripts :: scripts"></th:block>
</body>
</html>